@page
@model IndexModel
@{
    ViewData["Title"] = "Reportes de Usuarios";
}
<body style="background-color:dimgray; color:white">
<div class="text-center">
        <h1 class="display-4"><span style="color:pink">☆En esta sección estará la parte de los reportes de los usuarios☆ </span></h1>
    </div>


    <br />
    <br />
    <br />
<tr >

        <td >
            Usuario:

        </td> <br/>
        <br />
        <br />
        <td >
        Clave:

    </td>
        <br />
        <br />


        <tr />

    </body>