@page
@model PrivacyModel
@{
    ViewData["Title"] = "Mascotas y citas";
}
<h1>@ViewData["Title"]</h1>
<body style="background-color:dimgray; color:white">
    <p style="font-size:medium"><span style="color:pink">☆En esta sección estarán los reportes de las mascotas y el reporte de control de citas☆</span></p>

    <br />
    <br />
    <br />

<tr style="font-family: Helvetica">

        <td>
            Nombre mascota:

        </td> <br/>
        <br />
    <td>
        Tipo de mascota:

        <br />
    </td>
        <br />
    <td>
        Comida favorita:

        <br />
    </td>
        <br />
    <td>
       Proxima fecha:

        <br />
    </td>
        <br />
    <td>
        Medico asignado:

        <br />
    </td>
        <br />
    <tr/>

    <br />
    <br />
    <br />
    <p> <span style="color:pink">En este sitio utilizamos cookies, por lo tanto al seguir navegando acepta la política de privacidad de la empresa</span></p>
</body>